{% extends "base_1.html" %}
{% load static %}
{% block content %}

<div class="text-center">
    <h1>Meal Details</h1>

    <table class="table">
        <tr class="row">
            <td class="col-12 col-md-6"><img src="{{meal_detail.image.url}}" class="meal-img" alt="Dosa"></td>
            <td class="col-12 col-md-6 text-left">
                <h3><b>{{meal_detail.name}}</b></h3>
                <h4 class="meal-table">{{meal_detail.description}}</h4>
                <h4 class="meal-table">Price: {{meal_detail.price}} €</h4>
                <h4 class="meal-table">Preparation Time: {{meal_detail.preparation_time}}mins</h4>
            </td>
        </tr>
    </table>

    <form style="display: inline" class="medium" action="{% url 'get_meal_list' %}" method="get">
        <button class="bg-info meal-btn">Back to Meals</button>
    </form>
</div>

{% endblock %}
