{% extends "base.html" %}
{% load static %}
{% block content%}


<div class="container text-center">
    <h1>Meal List</h1>

    <table class="table bg-info table-hover meal-table">
        <thead class="bg-dark text-white">
            <tr>
                <th>Food Name</th>
                <th>Price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for meal in meal_list %}
            <tr>
                <th>
                    <a href="/meals/get_meal_detail/{{meal.id}}">{{ meal.name }}</a></th>
                <th>{{ meal.price }}€</th>
                <th>
                    <form style="display: inline" action="/meals/get_meal_detail/{{meal.id}}" method="get">
                        <button class="btn bg-dark text-light">Meal Details</button>
                    </form>
                </th>
            </tr>
        </tbody>
        {% endfor %}
    </table>

</div>

{% endblock %}
